* {
    background: #E5E5E5;
}

.title-home {
    position: absolute;
    width: 420px;
    height: 69px;
    left: 473px;
    top: 49px;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #004E89;
}

.btn-home {
    position: absolute;
    width: 250px;
    height: 80px;
    left: 1040px;
    top: 555px;
}
.btn-adic {
    
    background: #004E89;
    border-radius: 4px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}



.image-home {
    position: absolute;
    width: 444px;
    height: 360px;
    left: 461px;
    top: 178px;

    opacity: 0.9;
}

#text-npartic {
/* Nenhum participante adicionado. */

    position: absolute;
    width: 269px;
    height: 39px;
    left: 461px;
    top: 551px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;


}