body {
    background: #E5E5E5;
}

.title {
    position: absolute;
    width: 420px;
    height: 69px;
    left: 473px;
    top: 49px;
}

.title h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #004E89;
}

.btn-home {
    position: absolute;
    width: 250px;
    height: 80px;
    left: 1040px;
    top: 555px;
}

.btn-home button {   
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.image-home {
    position: absolute;
    width: 444px;
    height: 360px;
    left: 461px;
    top: 178px;

    opacity: 0.9;
}

#text-npartic {
/* Nenhum participante adicionado. */

    position: absolute;
    width: 269px;
    height: 39px;
    left: 461px;
    top: 551px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;
}

.lbl-name {
    /* Nome */
position: relative;
width: 269px;
height: 39px;
left: 428px;
top: 177px;
}

.style-lbl {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.lbl-email {
    /* Email */

position: absolute;
width: 269px;
height: 39px;
left: 428px;
top: 324px;

}

#nome {
    /* imput nome*/

position: absolute;
width: 500px;
height: 60px;
left: 428px;
top: 230px;
}

.input-style input {
    background: #FFFFFF;
    border: 3px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
}

#email {
    /* input email */
position: absolute;
width: 500px;
height: 60px;
left: 428px;
top: 370px;
}

.btns-color {
    background: #004E89;
    border-radius: 4px;
    color: #FFFFFF;
}

.register {
    position: absolute;
    width: 500px;
    height: 70px;
    left: 433px;
    top: 460px;
}

.register-add {
    position: absolute;
    width: 500px;
    height: 70px;
    left: 433px;
    top: 550px;
}

.btns-add button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

#btn-save {
    position: absolute;
    width: 235px;
    height: 65px;
    left: 563px;
    top: 475px;
}

.body-alert {
    background-color:#393939; 
}

.alert {
    position: absolute;
    width: 600px;
    height: 300px;
    left: 395px;
    top: 180px; 

    background: #FFFFFF;
    border-radius: 4px;
}

.title-alert {
    position: absolute;
    width: 500px;
    height: 34px;
    left: 170px;
    top: 13px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    align-items: center;

    color: #004E89;
}
.delete-friend p {
    color: #004E89;
    padding: 5px;
}
.delete-friend {
    position: absolute;
    width: 363px;
    height: 10px;
    left: 119px;
    top: 100px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.btn-cancel {
    position: absolute;
    width: 166px;
    height: 55.33px;
    left: 316px;
    top: 219px;

    background: #004E89;
    border-radius: 4px;
    color: #FFFFFF;
}
.btn-yes {
    position: absolute;
    width: 166px;
    height: 55.33px;
    left: 119px;
    top: 219px;

    background: #FF6B35;
    border-radius: 4px;
    color: #FFFFFF;
}

.alert button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    align-items: center;

    padding: 0%;
}